@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <h1 class="display-4">Welcome to HMI Device Solutions</h1>
    <p class="m-5 text-justify">We help build cross-platform innovative and interoperability solutions that
        provide simplified UI platforms for managing complicated devices in diverse industries such as Oil & Gas,
        Communications, Networking etc
    </p>
    <p>Learn more by viewing samples of our <a asp-area="" asp-controller="Devices" asp-action="Index">Registered
            Devices</a>.</p>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>
